@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto Mono", serif;
    text-decoration: none;
    color: #fff;
}

body{
    background-color: #585858;
}

.cabecalho{
    background-color: #1E1E1E;
    padding:20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    margin: auto;
    position: sticky;
    top: 0;

    & .logo{
        display: flex;
        align-items: center;
        gap: 25px;
        
& img{
    width: 100px;
}

        & h1{
            
            color:#DED9D9;
        }
    }

    & .nav{
        display: flex;
        align-items: center;
        gap: 42px;

        &  a{
            text-decoration: none;
            color: #D1D1D1;
        }
    }

}

.Home{
 display: flex;
 padding: 150px 20px;
 flex-direction: column;
 gap: 50px;
 max-width: 1283px;
 margin: auto;


 & h1{
    font-size: 50px;
    text-align: right;
 }

 & .imagens{
    align-items: center;
    display: flex;
    gap: 45px;
    justify-content: center;
 }
 
 & p{
    text-align: center;
 }

 }
