@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto Mono", serif;
    text-decoration: none;
    color: #fff;
}

body{
    background-color: #585858;
}

.cabecalho{
    background-color: #1E1E1E;
    padding:20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    margin: auto;
    position: sticky;
    top: 0;

    & .logo{
        display: flex;
        align-items: center;
        gap: 25px;
        
& img{
    width: 100px;
}

        & h1{
            
            color:#DED9D9;
        }
    }

    & .nav{
        display: flex;
        align-items: center;
        gap: 42px;

        &  a{
            text-decoration: none;
            color: #D1D1D1;
        }
    }

}

.Home{
 display: flex;
 padding: 150px 20px;
 flex-direction: column;
 gap: 50px;
 max-width: 1283px;
 margin: auto;


 & h1{
    font-size: 50px;
    text-align: right;
 }

 & .imagens{
    align-items: center;
    display: flex;
    gap: 45px;
    justify-content: center;
 }
 
 & p{
    text-align: center;
 }

 }

 .Em-cartaz {
    width: 80%;
    margin: 20px auto;

    & .h1{
        font-size: 24px;
        margin-bottom: 20px;
    }

   & .filme{
    background-color: #333;
    padding: 20px;  
    margin-bottom: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
   } 
    
   & .filme img{
    width: 200px;
    border-radius: 10px;
   }

   & .descricao{
    text-align: left;
   }

   & h2{
    color: #ffffff;
   }

   & p{
    font-size: 14px;
   }
}

.Em-breve {
    text-align: center;
    color: white;

    & h1{
        font-style: italic;
        font-weight: bold;
        font-size: 24px;
        margin-bottom: 20px;
    }

    & .movies{
        display: flex;
        gap: 15px;
        justify-content: center;
        align-items: flex-start;
    }

    & .movie{
        text-align: center;
        color: white;
    }

    & .movie img{
    width: 180px;
    height: auto;
    border: 1px solid #000;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    }

    & .movie p{
        margin: 5px 0 0;
        font-weight: bold;
        font-size: 16px;
        text-shadow: 1px 1px 2px black;
        color: white;
        font-family: 'Arial', sans-serif;

    }

}
''